body {
	background: url("../resource/wall.png") center center no-repeat;
	background-size: cover;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

.vertical-center {
	min-height: 90%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 90vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;
}

nav.nav {
	padding-top: 15px;
}

nav.nav a > img {
	height: auto;
	max-width: 25vw;
}

nav.nav a {
	color: #467c98;
	font-weight: bold;
}

nav.nav p {
	background-color: black;
}

nav.nav a:hover {
	color: #7a7d8e;
	background-color: #562F43;
}

div.text-lg-center {
	color: #7a7d8e;
	background-color: #000;
	font-size: 2em;
	text-align: center;
	margin-top: 15px;
}

div.text-lg-center.bigger {
	font-size: 4em;
	font-weight: bold;
}

@media only screen and (min-width: 900px) {
	nav.nav a {
		font-size: 2vw;
	}
}

@media only screen and (max-width: 1180px) and (min-width: 832px) {
	nav.nav a img{
		width: 6em
	}
}